.Farewell h3 {
  color: rgb(204, 124, 23);
  font-size: 1.5rem;
}

.Farewell h4 {
  color: rgb(204, 124, 23);
  font-size: 1.5rem;
}

.Farewell h5 {
  font-size: 1.5rem;
}

.Farewell a {
  color: #61dafb;
}
